
h6 {
  /* padding-top: 50px; */
  padding-bottom: 10px; 
  color: rgb(146, 14, 14) !important; 
}

html {
  background-color: #fffffff5 !important;

}
body {
  margin-top: 30px;
  margin-left: 50px;
}

.table-calc thead * {
  color: black !important;
  background-color: rgb(241, 242, 252); 
  font-weight: bold;
}

.table-calc tbody td:first-child {
  font-weight: bold;
}

.table-calc th {
  border-bottom: 1px solid black ; 
}

.container {
  background-color: white;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  padding-bottom: 30px;
  padding-top: 10px;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.copyright  {
  font-size: 10px !important;
  font-style: italic;
  padding-top: 10px;
}